.cards {
  width: 100%;
  height: 100%;
  position: absolute;

  .no-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    background: url(../img/no-mastery.svg) no-repeat center;
    background-size: 600px 400px;
    transform: translate3d(-50%,-50%,0);
  }
}
.card {
  // left: 0;
	// top: 0;
	perspective: 800px;
	position: absolute;
	transform-style: preserve-3d;
	will-change: transform;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
  color: $gold;

	&:active {
		// cursor: url(../img/grab.png) 10 2, auto;
    cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
	}

  // &:nth-child(2),
  // &:nth-child(3),
  // &:nth-child(4),
  // &:nth-child(5), {
  //   margin-left: -140px;
  // }
}
.card-wrap {
  position: absolute;
  width: 290px;
  height: 400px;
  padding: 15px;

  &:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    box-shadow: 0 0px 35px 15px rgba(0,0,0,0.8);
    z-index: -2;
  }
}
.card-main {
  position: relative;
  background: $gold;
  background: linear-gradient(to bottom, #c4a66c 0%,#684f23 100%);
  padding: 2px;
  height: 100%;
  z-index: 3;
  display: block;
	pointer-events: none;
	transform-style: preserve-3d;
	width: 100%;
	will-change: transform;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;

  .card-gold & {
    padding: 3px;
    background: linear-gradient(-45deg, #c4a66c 0%, darken(#684f23,5) 100%);
    box-shadow: 0 0 60px 5px transparentize($gold, 0.3);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 20px $gold;
  }
  50% {
    box-shadow: 0 0 50px 5px $gold;
  }
  100% {
    box-shadow: 0 0 20px $gold;
  }
}

.card-main-gold {
  position: relative;
  background: $gold;
  background: linear-gradient(-45deg, darken(#684f23,17) 0%,#c4a66c 100%);
  padding: 3px;
  height: 100%;
  z-index: 3;
  display: block;
	pointer-events: none;
	transform-style: preserve-3d;
	width: 100%;
	will-change: transform;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-main-wrap {
  background: #000a13;
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 30px;
}
.card-stats {
  position: absolute;
  top: 55%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 260px;
  height: 63px;
  z-index: 3;
  transform: translateY(-43px);

  .stats-left,
  .stats-right {
    position: absolute;
    height: 189px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // opacity: 0;
    transform: scale(0.9);
    transition: 0.5s ease-in-out;
  }
  .stats-left {
    left: -15px;

  }
  .stats-right {
    right: -15px;
  }
  .stat {
    font-family: 'BeaufortBold';
    position: relative;
    height: 63px;
    width: 63px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: content-box;

    &.stat-ad {
      background-image: url(../img/stat-ad.png);
    }
    &.stat-ap {
      background-image: url(../img/stat-ad.png);
    }
    &.stat-def {
      background-image: url(../img/stat-def.png);
    }

    &:after {
      content: '';
      position: absolute;
      background-color: #000a13;
      top: 7px;
      left: 7px;
      right: 7px;
      bottom: 7px;
      border-radius: 50%;
      z-index: 1;
    }

    &:nth-child(2) {
      transform: translateY(-14px);
      z-index: -1;
    }
    &:nth-child(3) {
      transform: translateY(-28px);
      z-index: -2;
    }
  }
  .stat-value {
    width: 63px;
    font-size: 2.5em;
    letter-spacing: -3px;
    line-height: 1;
    z-index: 2;
    margin-top: 2px;
    margin-left: -2px;
  }
}

.text-gradient {
  font-family: 'BeaufortBold';
	font-weight: 500;
  background: -webkit-repeating-linear-gradient(#e5cda0 0, #79622b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-text {
  text-align: center;
  color: $gold;
  z-index: 1;

  .card-name {
    font-family: 'BeaufortBold';
    font-variant: small-caps;
    font-size: 1.8em;
    position: relative;

    &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-shadow: 0px 3px 5px rgb(9, 15, 25);
      z-index: -1;
    }
  }
  .card-title {
    text-transform: uppercase;
    font-size: 0.8em;
    width: 80%;
    margin: 0 auto 1em;
  }
  .card-blurb {
    font-size: 0.9em;
    line-height: 1.2;
    height: 3.6em;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.card-difficulty {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 2px;
  z-index: 3;
  top: 15px;
  right: 15px;
  background: blue;
  background: linear-gradient(135deg, rgba(164,236,227,1) 0%,rgba(71,115,155,1) 100%);
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  height: 32px;
  width: 32px;
  transform: rotate(45deg);

  .card-difficulty-frame {
    background-color: #124A73;
    background: url(../img/diff-bg.png) center no-repeat;
    box-shadow: inset 0 0 7px black;
    height: 28px;
    width: 28px;
  }
  .difficulty-value {
    font-family: 'BeaufortBold';
    line-height: 1;
    font-size: 1.7em;
    width: 28px;
    text-align: center;
    transform: rotate(-45deg);
    margin-top: 2px;
    text-shadow: 0 1px 3px black;
    color: #E2EFF0;
  }
}

.card-artwork {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-size: cover;
  background-position: center;

  .card-gold & {
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: 60%;
    background: linear-gradient(to bottom, rgba(0,10,19,0) 0%,rgba(0,10,19,1) 100%);
  }
}

.card-outer-frame {
  width: 270px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;

  path {
    fill:none;
    stroke: darken($gold,20);
    stroke-width: 2px;
    stroke-miterlimit: 10;

    .card-gold & {
      fill:none;
      stroke: $gold;
      stroke-width: 3px;
      stroke-miterlimit: 10;
    }
  }
}

.card-mastery {
  height: 64px;
  width: 71px;
  position: absolute;
  bottom: -29px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);

  .card-gold & {
    height: 48px;
    width: 81px;
    bottom: -13px;
  }

  .mastery-ribbon {
    background-image: url(../img/mastery-ribbon.png);
    position: absolute;
    top: 20px;
    height: 24px;
    width: 71px;
    z-index: -1;

    .card-gold & {
      height: 48px;
      width: 81px;
      background-position: top center;
      background-image: url(../img/mastery-ribbon-lg.png);
    }
  }

  .mastery-icon {
    &.mastery-4 {
      background-image: url(../img/mastery-4.png);
      background-position: top center;
      height: 44px;
      width: 71px;
    }
    &.mastery-5 {
      background-image: url(../img/mastery-5.png);
      background-position: top center;
      height: 55px;
      width: 81px;
    }
  }
}
