
.summoner-form-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .cards-loaded & {
    display: none;
  }
}

.summoner-form {
  position: relative;
  padding: 4em;
  border: 2px solid #573f17;
  background: $darkBlue;
  box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.6);

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: -11px;
    height: 12px;
    width: 100%;
    background: url("../img/sidepanel-top.svg") center no-repeat;
    left: 8px;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -10px;
    height: 12px;
    width: 100%;
    background: url("../img/sidepanel-bot.svg") center no-repeat;
    left: 8px;
  }

  .form-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  p {
    max-width: 400px;
    font-size: 1em;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 0;
  }
  div {
    margin-bottom: 2em;

    &:last-of-type {
      margin: 0;
    }
  }
  label {
    display: block;
    font-size: 1.3em;
    margin-bottom: 0.2em;
    color: #2B3946;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-weight: 500;
  }
  select {
    -webkit-appearance: none;
    padding: 0.5em;
    border: none;
    border-bottom: 1px solid darken($gold,25);
    background: url("../img/arrow-down.svg") right 10px center no-repeat $darkBlue;
    background-size: 12px 20px;
    border-radius: 0;
    width: 25%;
    display: block;

    &:focus {
      outline: none;
      border-bottom: 1px solid $gold;
    }
  }
  input[type="text"] {
    background: transparent;
    border: none;
    padding: 0.3em 0;
    color: $gold;
    font-size: 2em;
    border-bottom: 1px solid darken($gold,25);
    display: block;

    &:focus {
      outline: none;
      border-bottom: 1px solid $gold;
    }
  }

  .summoner-submit-frame {
    padding: 4px;
    background: $gold;
    background: linear-gradient(to bottom, #c4a66c 0%,#684f23 100%);
    display: none;

    &.show {
      display: block;
    }
  }
  .summoner-submit {
    background: $darkBlue;
    -webkit-appearance: none;
    border: none;
    padding: 0.5em 0;
    display: block;
    width: 100%;
    font-size: 1.6em;
    letter-spacing: 2px;
    font-weight: 700;
    font-variant: small-caps;
  }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darken($gold,25);
}
::-moz-placeholder { /* Firefox 19+ */
  color: darken($gold,25);
}
:-ms-input-placeholder { /* IE 10+ */
  color: darken($gold,25);
}
:-moz-placeholder { /* Firefox 18- */
  color: darken($gold,25);
}
