.sidepanel-frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 350px;
  margin-bottom: 50px;
  display: none;

  .cards-loaded & {
    display: flex;
  }
}

.sidepanel {
  width: 270px;
  height: 380px;
  border: 2px solid #573f17;
  background: $darkBlue;
  z-index: 99999;
  position: relative;
  box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.75);

  &:after {
    content: '';
    position: absolute;
    bottom: -35px;
    left: -2px;
    width: 270px;
    height: 43px;
    background: url('../img/sidepanel-bottom.png') center;
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: -11px;
    height: 12px;
    width: 250px;
    background: url("../img/sidepanel-top.svg") center;
    left: 8px;
    z-index: -1;
  }

  .summoner-name {
    margin: 0.8em 0 0.6em;
    text-align: center;
    font-size: 2.2em;
    letter-spacing: 1px;
    user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;

    .try {
      text-align: left;
    }
  }

  .difficulty-select {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    margin: 0 auto;
    justify-content: center;
    transform: translate3d(-10px,0,0);
  }
  .card-difficulty {
    position: relative;
    top: auto;
    right: auto;
    margin: 10px;

    &.selected {
      box-shadow: 0 0 17px 1px rgba(0, 190, 255, 0.83);
    }

    &.not-selected {
      box-shadow: none;
    }

    &:nth-child(3),
    &:nth-child(4) {
      transform: translate3d(26px, -24px, 0) rotate(45deg);
    }
    &:nth-child(5),
    &:nth-child(6) {
      transform: translate3d(0, -48px, 0) rotate(45deg);
    }
    &:nth-child(7),
    &:nth-child(8) {
      transform: translate3d(26px, -72px, 0) rotate(45deg);
    }
    &:nth-child(9),
    &:nth-child(10) {
      transform: translate3d(0, -97px, 0) rotate(45deg);
    }
  }

  .card-count {
    text-align: center;
    font-variant: small-caps;
    font-size: 1.4em;
    width: 60%;
    margin: 0 auto;
    user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  }
  .count-all {
    margin-bottom: 0.6em;
  }
  .count-title {
    color: #2B3946;
    margin-bottom: 0em;
  }
  .value {
    font-size: 2.2em;
    font-family: 'beaufortregular', 'Georgia', serif;
  	font-weight: normal;
  }
}

.summoner-icon-frame {
  height: 128px;
  width: 128px;
  margin: -64px auto 0;
  position: relative;
}
.summoner-icon {
  padding: 2px;
  background: linear-gradient(to bottom, #c4a66c 0%,#684f23 100%);
  border-radius: 50%;

  img {
    border-radius: 50%;
    user-drag: none;
  	user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  }
}
.summoner-icon-shape {
  display: block;
  position: absolute;
  top: 28px;
  width: 142px;
  z-index: -1;
  left: -7px;

  .inner {
    fill:#000A13
  }
  .outer {
    fill:#573F17;
  }
}

.get-at-me {
  color: #2B3946;
  padding: 1.5em;
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
  line-height: 1.4em;
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;

  a {
    font-weight: 600;
    color: inherit;
  }
}
