* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
}
@font-face {
    font-family: 'beaufortregular';
    src: url('/beaufort_regular-webfont.woff2') format('woff2'),
         url('/beaufort_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'BeaufortBold';src: url('webfonts/308D53_0_0.eot');
	src: url('/308D53_0_0.eot?#iefix') format('embedded-opentype'),
				url('/308D53_0_0.woff2') format('woff2'),
				url('/308D53_0_0.woff') format('woff'),
				url('/308D53_0_0.ttf') format('truetype');
}
body {
  background-color: $darkBlue;
	background-image: url('../img/bg.png');
	background-repeat: repeat-y;
	background-position: top center;
  color: $gold;
	overflow: hidden;
	font-family: 'beaufortregular', 'Georgia', sans-serif;
	font-weight: normal;
	font-style: normal;
  // cursor: url(../img/cursor.png) 10 2, auto;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	-webkit-font-smoothing: antialiased;

	&:active {
		// cursor: url(../img/cursor-click.png) 10 2, auto;
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
	}
}

h1,h2,h3 {
	font-family: 'BeaufortBold';
	font-weight: 500;
}


img {
	display: block;
	max-width: 100%;
	height: auto;
}
