* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
  background-color: $darkBlue;
	background-image: url('../img/bg.png');
	background-repeat: repeat-y;
	background-position: top center;
  color: $gold;
	overflow: hidden;
  font-family: 'Beaufort', sans-serif;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png) 10 2, auto;
	-webkit-font-smoothing: antialiased;

	&:active {
		cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-click.png) 10 2, auto;
	}
}


img {
	display: block;
	max-width: 100%;
	height: auto;
}
