* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
  padding: 100px;
  background-color: $darkBlue;
	background-image: url('../img/bg.png');
	background-repeat: repeat-y;
	background-position: top center;
  color: $gold;
  font-family: 'Beaufort', sans-serif;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png) 10 2, auto;
	// overflow: hidden;

	&:active {
		cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-click.png) 10 2, auto;
	}
}
