# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
config.php
config.codekit
scss/.sass-cache
scss/.sass-cache/*

*.scssc

scss/.sass-cache/a2be4aded601d82850469fac02dae1b2aa131ca6/_structure.scssc

*.scssc
